<h1>History and Information <small>All about the Old Crown Brass Band</small></h1>
<div class='row'>
  <div class='span7'>
    <p>The Old Crown Brass Band’s inaugural concert was canceled; a casualty of a December snow storm in 2007!  Undeterred, this group of musicians from various backgrounds regrouped and, since that time, has gained a faithful following of fans who have come to appreciate both the quality of the music presented and the unique sound of a British Brass Band.</p>
    <p>OCBB is based in Fort Wayne, IN although its members are drawn from a three-state area. They include professional musicians (from two major symphony orchestras), music educators, music-industry professionals and plain fun-loving amateurs.</p>
    <p>The idea for the band was conceived by a group of brass players who were inspired to name the band after a certain beverage brewed by the now-defunct, but oft-remembered, Centlivre Brewing Company - Old Crown Ale.</p>
    <p>A British Brass Band differs from other wind bands. Reed instruments (such as clarinets and saxophones) are excluded while certain brass wind instruments rarely found in other types of bands (flugelhorns, baritone and tenor horns) are included.</p>
    <p>British Brass Bands flourished in the early nineteenth century during the Industrial Revolution. Company owners often formed and funded bands as a “distraction” for workers who might otherwise engage in political activity which was potentially detrimental to the interests of the owners. The popularity of this movement has resulted in a significant repertoire of original compositions for the brass band as well as custom arrangements of orchestral compositions. Notable contributors of original compositions include Edward Elgar, Malcolm Arnold, Gustav Holst and Ralph Vaughn Williams.</p>
    <p>OCBB has their home base at Aldersgate United Methodist Church in Fort Wayne, but its regular concert schedule includes programs presented at venues throughout NE Indiana and NW Ohio.</p>
  </div>
  <div class='span5'>
    <div class='thumbnail'>
      <%= image_tag('low-brass-performing.jpg') %>
      <div class='caption'>
        <h5>April 2009 <small>Concert at Sweetwater</small></h5>
      </div>
    </div>
  </div>
</div>

