<div class='row'>
  <div class='span6'>
    <h1>Next Concert <small>Come see us play!</small></h1>
    <div class='well'>
      <div class="row">
        <div class="span2">
          <%= image_tag 'concert_image.jpg', :style => 'padding-right:10px;', :class => 'thumbnail' %>
        </div>
        <div class="span3">
          <h3>Title of Concert</h3>
          <p>Location, at Time</p>
          <p><em>This concert is free an open to the public</em></p>
          <%= link_to 'Concert Details', '#', :class => 'btn' %>
        </div>
      </div>
    </div>
  </div>
  <div class="span3">
    <h1>About</h1>
    <div class="well">
      <p>We are an all volunteer traditional British brass band based in Fort Wayne, Indiana. Our group is made up of everything from professional players to very talented and dedicated amateurs...</p>
      <%= link_to 'Learn More', '#', :class => 'btn' %>
    </div>
  </div>
  <div class='span3'>
    <h1>Support</h1>
    <div class='well'>
      <p>Old Crown Brass Band is a volunteer organization that relies heavily on the support of our members and you, our community. We're also a member of Arts United and a nonprofit organization. Your tax deductible donation is greatly appreciated.</p>
      <%= link_to 'Donate!', '#', :class => 'btn' %>
    </div>
  </div>
</div>

